@import url("/home/joaovictorsl/.cache/wal/colors-waybar.css");

* {
  font-family: 'Radio Canada Big', sans-serif;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
}

window#waybar {
  background-color: transparent;
  color: @background;
}

#workspaces button.active {
  color: @foreground;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  transition: none;
  border: none;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: none;
  text-shadow: none;
}

#workspaces {
  background-color: @background;
  padding: 0 5.6px 0 0;
}

.modules-left {
  margin-left: 12px;
}

.modules-right {
  margin-right: 12px;
}

#battery,
#pulseaudio,
#backlight,
#custom-notification,
#network {
  color: @color5;
  /* color5 */
  background-color: @background;
  /* background */
  margin: 0 0px 0 15px;
  padding: 0 15px 0 15px;
  /* top, right, bottom, left */
}

#network {
  color: @color2;
}

#clock {
  color: @color3;
  /* color3 */
  background-color: @background;
  /* background */
  margin: 0 15px 0 0;
  padding: 0 15px 0 15px;
}

#network {
  color: @color4;
  /* color4 */
}

#pulseaudio {
  color: @color5;
  /* color5 */
}

#backlight {
  color: @color5;
  /* color5 */
}
